<div class="top">
    <div class="card" *ngIf="condition">
        <p>{{inputNote.id}}.{{inputNote.name}}</p>
        <p>{{inputNote.maintext}}</p>
        <p *ngIf="inputNote.dataChanged == null; else editblock">Дата добавления: {{inputNote.date|date:'dd.MM.yyyy HH:mm:ss'}}</p>
        <p>Тип заметки: {{getTypeName(inputNote.type)}}</p>
        <ng-template #editblock>
            <p>Дата изменения: {{inputNote.dataChanged|date:'dd.MM.yyyy HH:mm:ss'}}</p>
        </ng-template>
        <input style="margin: 10px;" class="btn btn-secondary" type="button" value="Удалить" (click)="onDeleteNote()">
        <input style="margin: 10px;" class="btn btn-secondary" type="button" value="Редактировать" (click)="onEditNote()">
    </div>
    <div class="card" *ngIf="!condition">
        <form [formGroup]='cardForm'>
            <p><input type="text" name="notetitle" formControlName="name"></p>
            <p><textarea type="text" name="maintext" formControlName="maintext"></textarea></p>
            <p>Изменить тип заметки: <select style="width:150px" id="type" formControlName="type">
                <option name="typename" *ngFor="let type of types" [ngValue]='type.id' >{{type.name}}</option>
              </select></p>
        </form>
        <input type="button" value="Сохранить" (click)="onEditNoteSave()">
    </div>
</div>